<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <!--ORTAK NAVBAR KULLANIMI HER SAYFADA NAV AYNI OLDUGU İCİN HER SAYFAYA BAŞKA DOSYADAN GONDERİYORUZ-->
<%- include('../partials/nav') %>

   <div class="container mt-3">
       <div class="row">
        <div class="col-md-12">
            <% if (action != "undefined" && action=="edit") { %>
             <div class="alert alert-success">
                <%= blogid %> İd Numaralı Blog Güncellendi
             </div>
            <% } %>


            <% if (action != "undefined" && action=="create") { %>
                <div class="alert alert-success">
                   Blog Eklendi
                </div>
               <% } %>

               <% if (action != "undefined" && action=="delete") { %>
                <div class="alert alert-success">
                   Blog Silindi
                </div>
               <% } %>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width: 50px;">id</th>
                        <th style="width: 150px;">resim</th>
                        <th >baslik</th>
                        <th style="width: 130px;"></th>
                    </tr>
                </thead>
                <tbody>
                   <% blogs.forEach(blog => { %>
                    <tr>
                        <td><%= blog.dataValues.id %></td>
                        <td>
                            <img src="/static/images/<%=blog.dataValues.resim %>" alt="" class="img-fluid" width="300px" height="300px">
                        </td>
                        <td><%= blog.dataValues.baslik %></td>
                        <td>
                            <a class="btn btn-sm btn-primary " href="/admin/blogs/<%= blog.dataValues.id %>"></a>edit
                            <a class="btn btn-sm btn-danger " href="/admin/blog/delete/<%= blog.dataValues.id %>"></a>delete
                        </td>
                    </tr>
                   <% }) %>
                </tbody>
            </table>
        </div>
       </div>
   </div>
</body>
</html>
